blockquote {
  font-style: italic
}

section {
        float: left;
        padding: 10px;
        color: #404040;
        font-family: sans-serif;
        font-size: 14px;
		    margin: auto;
       
    }
  
img {
  width: 100px;
}

/* Three columns side by side */
#row {
    float: left;
    margin-bottom: 16px;
    padding: 0 8px;
}
.column-left{
  float: left;
  width: 33%;
  text-align: left;
}
.column-center{
  display: inline-block;
  width: 33%;
  text-align: center;
}
.column-right{
  float: right;
  width: 33%;
  text-align: right;
}
